<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <p>
  <% if !is_friend?(user) && user != current_user && user.inverse_friendships.find{|usr| usr.user_id == current_user.id}.nil?
 %>
  <%=  button_to 'Invite as friend', create_freindship_user_path(user.id), method: :get  %>
  <% end %>
  </p>
</li>